# Problema2


Lea el archivo 'winemag-data-130k-v2.csv' y realice lo siguiente:

- Explore el dataframe según lo visto en clase
- Realice al menos  4 renombre de columna y 3 creación de nuevas columnas según criterio. Deberá crear las columnas que crea conveniente. 
    Ejemplo: Según el país etiquetelos según continente.

- Genere 4 reportes por agrupamiento de datos. Deberá elegir que reportes realizar
    - Ejemplo: Por contienente mostrar los vinos mejor puntuados
    - Ejemplo2: Promedio de precio de vino y cantidad de reviews obtenidos según pais. Ordenado de mejor a peor 


- Al menos uno de estos datos agrupados deberán ser almacenados en excel o csv
   
   Puede revisar esta solución https://stackoverflow.com/questions/25789264/pandas-dataframegroupby-export-to-excel



### Datos 

winemag-data-130k-v2.csv
- https://github.com/gdelgador/ProgramacionPython202401/blob/main/Modulo5/src/winemag-data-130k-v2.csv

País según continente:
- https://gist.githubusercontent.com/kintero/7d1db891401f56256c79/raw/a61f6d0dda82c3f04d2e6e76c3870552ef6cf0c6/paises.csv

In [9]:
import pandas as pd


df = pd.read_csv('/workspaces/PC5/data/winemag-data-130k-v2.csv')

print("Información DataFrame:")
print(df.info())

Información DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             65499 non-null  int64
 1   country                65467 non-null  object
 2   description            65499 non-null  object
 3   designation            46588 non-null  object
 4   points                 65499 non-null  int64
 5   price                  60829 non-null  float64
 6   province               65467 non-null  object
 7   region_1               54744 non-null  object
 8   region_2               25170 non-null  object
 9   taster_name            51856 non-null  object
 10  taster_twitter_handle  49467 non-null  object
 11  title                  65499 non-null  object
 12  variety                65499 non-null  object
 13  winery                 65499 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 7.0+ MB
None

In [10]:
df = df.rename(columns={'description': 'descripcion', 'country': 'pais', 'price': 'precio', 'title': 'nombre', 'variety': 'variedad'})

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             65499 non-null  int64
 1   pais                   65467 non-null  object
 2   descripcion            65499 non-null  object
 3   designation            46588 non-null  object
 4   points                 65499 non-null  int64
 5   precio                 60829 non-null  float64
 6   province               65467 non-null  object
 7   region_1               54744 non-null  object
 8   region_2               25170 non-null  object
 9   taster_name            51856 non-null  object
 10  taster_twitter_handle  49467 non-null  object
 11  nombre                 65499 non-null  object
 12  variedad               65499 non-null  object
 13  winery                 65499 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 7.0+ MB
None

In [12]:
df['puntuacion_provincia'] = df.groupby(['pais', 'province'])['points'].transform('mean')
df['variedades_provincia'] = df.groupby(['pais', 'province'])['variedad'].transform('nunique')
df['vino_mas_caro'] = df.groupby(['pais', 'province'])['precio'].transform('max')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             65499 non-null  int64
 1   pais                   65467 non-null  object
 2   descripcion            65499 non-null  object
 3   designation            46588 non-null  object
 4   points                 65499 non-null  int64
 5   precio                 60829 non-null  float64
 6   province               65467 non-null  object
 7   region_1               54744 non-null  object
 8   region_2               25170 non-null  object
 9   taster_name            51856 non-null  object
 10  taster_twitter_handle  49467 non-null  object
 11  nombre                 65499 non-null  object
 12  variedad               65499 non-null  object
 13  winery                 65499 non-null  object
 14  puntuacion_provincia   65467 non-null  float64
 15  variedades_provincia   65467 non-null  float64
 16  vino_mas_caro          65464 non-null  float64
dtypes: float64(4), int64(2), object(11)
memory usage: 8.5+ MB
None

In [13]:
print("\nBodegas con mas vinos")
reporte1 = df['winery'].value_counts().head(5)
print(reporte1)

print("\nVariedad de uva más cara por país")
reporte2 = df.loc[df.groupby('pais')['precio'].idxmax()][['pais', 'variedad', 'precio']]
print(reporte2)

print("\nProvincias con mayor promedio de puntuación")
reporte3 = df.groupby('province')['points'].mean().sort_values(ascending=False)
print(reporte3.head())

Bodegas con mas vinos
winery
Wines & Winemakers    119
Georges Duboeuf       116
Testarossa            108
DFJ Vinhos            101
Louis Latour           98
Name: count, dtype: int64

Variedad de uva más cara por país
                         pais                   variedad  precio
61144               Argentina         Cabernet Sauvignon   230.0
8170                  Armenia                    Kangoun    14.0
56953               Australia                     Shiraz   850.0
26404                 Austria           Rosenmuskateller   150.0
16467  Bosnia and Herzegovina                     Vranec    13.0
34202                  Brazil  Merlot-Cabernet Sauvignon    45.0
47136                Bulgaria                  Red Blend    55.0
12140                  Canada   Bordeaux-style Red Blend   120.0
47148                   Chile                  Red Blend   400.0
21228                 Croatia                Plavac Mali    65.0
45270                  Cyprus                  Xynisteri    21.0
7272           Czech Republic                  Red Blend    45.0
27356                 England                 Pinot Noir    80.0
15840                  France   Bordeaux-style Red Blend  2500.0
29544                 Georgia                   Saperavi    40.0
347                   Germany                   Riesling   775.0
2115                   Greece                  Red Blend    79.0
49326                 Hungary                    Furmint   764.0
6673                    India                     Shiraz    20.0
60264                  Israel   Bordeaux-style Red Blend   100.0
44994                   Italy                   Nebbiolo   595.0
4896                  Lebanon                  Red Blend    75.0
48450              Luxembourg            Sparkling Blend    30.0
38503               Macedonia                     Vranec    20.0
26295                  Mexico                  Red Blend    58.0
38920                 Moldova                White Blend    42.0
61474                 Morocco             Syrah-Grenache    40.0
710               New Zealand                 Pinot Noir   120.0
37948                    Peru                  Red Blend    68.0
36531                Portugal                       Port  1000.0
44933                 Romania                     Merlot   100.0
29284                  Serbia                  Red Blend    40.0
22687                Slovakia                   Riesling    16.0
37243                Slovenia      Merlot-Cabernet Franc    60.0
9912             South Africa   Bordeaux-style Red Blend   330.0
15846                   Spain                   Carignan   770.0
21791             Switzerland                 Pinot Noir   160.0
53157                  Turkey                     Merlot   120.0
51978                      US                      Syrah   750.0
19530                 Ukraine            Sparkling Blend    10.0
38811                 Uruguay                     Tannat   120.0

Provincias con mayor promedio de puntuación
province
Madeira        94.000000
Mittelrhein    94.000000
Santa Cruz     92.000000
Tokaji         91.571429
England        91.250000
Name: points, dtype: float64

In [18]:
reporte_bodega = df['winery'].value_counts().head(5)

reporte_bodega.to_csv('reporte_bodegas_mas_vinos.csv', header=True)

In [19]:
reporte_variedad_uvas = df.loc[df.groupby('pais')['precio'].idxmax()][['pais', 'variedad', 'precio']]
reporte_variedad_uvas.to_csv('reporte_variedad_uvas.csv', header=True)